<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up Page</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/views/signup_Page/style3.css">

	</head>
<body>

<!--<a href="#login-box" class="login-window">Sign Up</a>-->
<div id="login-box" class="login-popup">
<!--<a href="#" class="close"><img src="./signup_Page/exitButton.png" style="width:18px;height:18px;" class="btn_close" title="Close Window" alt="Close" /></a>-->
  <form method="post" class="signin" action="#">
        <fieldset class="textbox">
        <label class="resume">
        <span>resume</span>
        <input id="resume" name="resume" value="" type="file" autocomplete="on" placeholder="Username">
        </label>
        <!--<label class="password">
        <span>Password</span>
        <input id="password" name="password" value="" type="password" placeholder="Password">
        </label>-->
		<label class="phone-number">
        <span>phone number</span>
        <input id="phone-number" name="phone-number" value="" placeholder="888-888-8888">
        </label>
        <button class="submit button" type="button">Submit</button>
            
        </fieldset>
  </form>
</div>
<script>
$(document).ready(function() {
$('a.login-window').click(function() {
    
            //Getting the variable's value from a link 
    var signupBox = $(this).attr('href');

    //Fade in the Popup box
    $(signupBox).fadeIn(400);
    
    //Setting the center alignment padding + border 
    var popMargTop = ($(signupBox).height() + 24) / 2; 
    var popMargLeft = ($(signupBox).width() + 24) / 2; 
    
    $(signupBox).css({ 
        'margin-top' : -popMargTop,
        'margin-left' : -popMargLeft
    });
    
    // Adding mask to body
    $('body').append('<div id="mask"></div>');
    $('#mask').fadeIn(400);
    
    return false;
});

// When clicking on the button close or the mask layer the popup closed
$('a.close, #mask').live('click', function() { 
  $('#mask , .login-popup').fadeOut(400 , function() {
    $('#mask').remove();  
}); 
return false;
});
});
</script>
</body>
</html>
